@import url(https://fonts.googleapis.com/css?family=Arvo:700,700italic);

header {
	background-color: darkcyan;
	height: 25px;
	margin: 0;
}


body  {
	margin-top: 10px;
	background-image: url("confectionary.png");
	opacity: 0.8;
}

.container {
	padding: 10px;
	text-align: center;
	font-size: 40px;
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-style: italic;
	margin: 100px 150px 100px 150px;
	background-color: lightseagreen;
}

.container h4 {
	font-size: 32px;
} 

/*#new-blog {
	margin-top: 10px;
	margin-bottom: 10px;
}*/

#type-here {
	margin-top: -20px;
	padding: 10px;
	font-size: 28px;
}

/*#say-something h3 {
	font-size: 18px;
}*/

#click-here {
	color: white;
	font-size: 20px;
	background-color: black;
}

#lil-blogs-here {
	background-color: paleturquoise;
}

#lil-blogs-here ul li {
	list-style: none;
	font-size: 32px;
	margin: 10px 0 10px 0;
}



